Description: PowerCockpit
Maintainer: xcentaurix
Package: enigma2-plugin-systemplugins-powercockpit
Architecture: all
Conflicts: enigma2-plugin-systemplugins-safepoweroff
Replaces: enigma2-plugin-systemplugins-safepoweroff
